

body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blanchedalmond;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form > button{
  border: 1 solid black;
  font-size: 16px;
}

.delete-form > button:hover {
  background-color: red;
  border: 1 solid black;
}

.submitButton {
  font-size: 18px;
}

li {
  list-style: none;
}